<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Article</h1>
    <div class="col-6 offset-3">
        <form action="/articles" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" name="article[title]" id="title" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="game">Game</label>
                <input class="form-control" type="text" name="article[game]" id="game" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="console">Console</label>
                <input class="form-control" type="text" name="article[console]" id="console" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="release">Release</label>
                <input class="form-control" type="text" name="article[release]" id="release" required>
            </div>
            <div class="mb-3">
                <input type="file" name="image" id="" multiple>
            </div>
            <div class="mb-3">
                <label class="form-label" for="blog">Blog</label>
                <textarea class="form-control" type="text" name="article[blog]" id="mytextarea"></textarea>
            </div>

            <!-- Movies Section -->
            <h2>Movies</h2>
            <% for(let i = 0; i < 5; i++) { %>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" for="movieTitle<%= i %>">#<%= i + 1 %> Movie Title</label>
                        <input class="form-control" type="text" name="article[movies][<%= i %>][title]" id="movieTitle<%= i %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="movieImage<%= i %>">#<%= i + 1 %> Movie Image</label>
                        <input class="form-control" type="file" name="movies" id="movieImage<%= i %>" accept="image/*" required>
                    </div>
                </div>
            <% } %>

            <!-- Music Section -->
            <h2>Music</h2>
            <% for(let i = 0; i < 5; i++) { %>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" for="musicTitle<%= i %>">#<%= i + 1 %> Music Title</label>
                        <input class="form-control" type="text" name="article[music][<%= i %>][title]" id="musicTitle<%= i %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="musicImage<%= i %>">#<%= i + 1 %> Music Image</label>
                        <input class="form-control" type="file" name="music" id="musicImage<%= i %>" accept="image/*" required>
                    </div>
                </div>
            <% } %>

            <!-- NBA Section -->
            <h2>NBA</h2>
            <% for(let i = 0; i < 5; i++) { %>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" for="nbaTitle<%= i %>">#<%= i + 1 %> NBA Title</label>
                        <input class="form-control" type="text" name="article[nba][<%= i %>][title]" id="nbaTitle<%= i %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="nbaImage<%= i %>">#<%= i + 1 %> NBA Image</label>
                        <input class="form-control" type="file" name="nba" id="nbaImage<%= i %>" accept="image/*" required>
                    </div>
                </div>
            <% } %>

                        <!-- NHL Section -->
            <h2>NHL</h2>
            <% for(let i = 0; i < 5; i++) { %>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" for="nhlTitle<%= i %>">#<%= i + 1 %> NHL Title</label>
                        <input class="form-control" type="text" name="article[nhl][<%= i %>][title]" id="nhlTitle<%= i %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="nhlImage<%= i %>">#<%= i + 1 %> NHL Image</label>
                        <input class="form-control" type="file" name="nhl" id="nhlImage<%= i %>" accept="image/*" required>
                    </div>
                </div>
            <% } %>

            <!-- MLB Section -->
            <h2>MLB</h2>
            <% for(let i = 0; i < 5; i++) { %>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" for="mlbTitle<%= i %>">#<%= i + 1 %> MLB Title</label>
                        <input class="form-control" type="text" name="article[mlb][<%= i %>][title]" id="mlbTitle<%= i %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="mlbImage<%= i %>">#<%= i + 1 %> MLB Image</label>
                        <input class="form-control" type="file" name="mlb" id="mlbImage<%= i %>" accept="image/*" required>
                    </div>
                </div>
            <% } %>

            <!-- NFL Section -->
            <h2>NFL</h2>
            <% for(let i = 0; i < 5; i++) { %>
                <div class="mb-3">
                    <div class="mb-3">
                        <label class="form-label" for="nflTitle<%= i %>">#<%= i + 1 %> NFL Title</label>
                        <input class="form-control" type="text" name="article[nfl][<%= i %>][title]" id="nflTitle<%= i %>" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="nflImage<%= i %>">#<%= i + 1 %> NFL Image</label>
                        <input class="form-control" type="file" name="nfl" id="nflImage<%= i %>" accept="image/*" required>
                    </div>
                </div>
            <% } %>

            <div class="mb-3">
                <button class="btn btn-success">Add Article</button>
            </div>
        </form>
        <a class="btn btn-warning" href="/articles">Back to Articles</a>
    </div>
</div>
